<ActionBarExtension>
    <ActionItem (tap)="Save()">
        <Button text="Save" class="btnAction"></Button>
    </ActionItem>
</ActionBarExtension>
<ScrollView>
    <StackLayout>
        <StackLayout class="form" *ngFor="let question of Questions; let i = index">
            <Label class="body" text="{{question.Question}}" textWrap="true"></Label>
            <TextView class="input input-rounded" hint="{{question.Hint}}" [(ngModel)]="LogResponses[getAnswerIndex(question.QuestionId)].Answer"
                text=""></TextView>
        </StackLayout>
    </StackLayout>
</ScrollView>