<StackLayout style="padding:50px;">
    <StackLayout>
        <Label text="App coded and donated by:" textWrap="true" style="font-weight:bold"></Label>
        <Label text="Tony Bellomo" textWrap="true"></Label>
        <Label text="" textWrap="true"></Label>
        <Label text="Twitter / Github" textWrap="true" style="font-weight:bold"></Label>
        <Label text="@CoderTonyB" textWrap="true"></Label>
        <Label text="" textWrap="true"></Label>
        <Label text="This app is open source!" textWrap="true" style="font-weight:bold"></Label>
        <Label text="View the source code or" textWrap="true"></Label>
        <Label text="give app feedback at" textWrap="true"></Label>
        <button text="GitHub" (tap)="GoToGit()" class="link"></button>
        <Label text="" textWrap="true"></Label>
        <Label text="Click outside of this box to close it" textWrap="true"></Label>

    </StackLayout>
</StackLayout>