<ScrollView>
    <StackLayout>
        <StackLayout class="form" *ngFor="let question of Questions; let i = index">
            <Label class="body" text="{{question.Order}}. {{question.Question}}" textWrap="true"></Label>
            <StackLayout *ngIf="question.Type == 'True/False'" orientation="horizontal">
                <Label text="false" class="switchLabel"></Label>
                <Switch class="switch" (checkedChange)='switchChanged($event, question.QuestionId)'>
                </Switch>
                <Label text="true" class="switchLabel"></Label>
            </StackLayout>
            <StackLayout *ngIf="question.Type == 'Integer'" orientation="horizontal">
                <!--<Slider #sl [minValue]="0" [maxValue]="20" [value]="0" class="slider" style="width:70%;" (valueChange)='sliderChanged(sl.value, question.QuestionId)'
                    [(ngModel)]="question.Answer"></Slider>-->
                <TextField hint="" text="" keyboardType="number" type="integer" keyboardType="number" style="width:20%;text-align:center;"
                    [(ngModel)]="question.Answer"></TextField>
            </StackLayout>
            <StackLayout *ngIf="question.Type == 'Date'" orientation="horizontal">
                <TextField hint="Tap to select..." editable="false" style="width:100%;text-align:center;" [(ngModel)]="question.Answer" (tap)='datepickerTapped($event, question.QuestionId)'></TextField>
            </StackLayout>
        </StackLayout>
        <Button class='btn btnAction' text="Score Assessment" (tap)="scoreAssessment()"></Button>
    </StackLayout>
</ScrollView>