<TabView (selectedIndexChanged)="selectTab($event)" #tabView androidSelectedTabHighlightColor="#2ae8f6" style="background-color:wheat; font-size: 16; font-weight:bold">
    <StackLayout *tabItem="{title: 'S.A.F.E.'}">
        <router-outlet name="homeoutlet"></router-outlet>
    </StackLayout>
    <StackLayout *tabItem="{title: 'My Logs'}">
        <router-outlet name="logoutlet"></router-outlet>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Self Assess'}">
        <router-outlet name="assessoutlet"></router-outlet>
    </StackLayout>
</TabView>