<StackLayout class="form">
    <TextField class="input input-border" id="txtPassword" hint="New Password" text="" autocorrect="false" secure="true" returnKeyType="next"></TextField>
    <TextField class="input input-border" id="txtPassword2" hint="Confirm Password" text="" autocorrect="false" secure="true"
        returnKeyType="done" (returnPress)="savePassword($event)"></TextField>
    <Button class="safebutton" id="btnSavePassword" text="Set Password" (tap)="savePassword($event)"></Button>
</StackLayout>