<ActionBarExtension *ngIf="true">
    <ActionItem (tap)="newLog()" ios.position="right">
        <Button text="New Log" class="btnAction" [nsRouterLink]="['/logdataentry']"></Button>
    </ActionItem>
</ActionBarExtension>
<StackLayout *ngIf="logs.length < 1" style="margin-top:25;">
    <Label text='There are no entries in this log.' textWrap="true" style="text-align: center; font-weight: bold; font-size:20em;"></Label>
    <Label text='Click the "New Log" button to create one.' textWrap="true" style="text-align: center; font-weight: bold; font-size:20em;"></Label>
</StackLayout>
<GridLayout rows="*" columns="*">
    <ListView [items]="logs" (itemTap)="viewLog(event)" class="list-group">
        <ng-template let-item="item" let-odd="odd" let-even="even">
            <StackLayout class="list-group-item" (tap)="OpenLogDataEntry(item.LogId)">
                <Label [text]="item.TimestampUTC.replace(' at ',' ') | date:'medium'"></Label>
                <Label [text]="item.Title"></Label>
            </StackLayout>
        </ng-template>
    </ListView>
</GridLayout>